doctype html
center
  img(src=bookdata.thumbnail alt=bookdata.description width='500' height='300')
  div(style='text-align:center')
    div Book ID:#{bookdata.book_id}
    div Book Name:#{bookdata.book_name}
    div Publisher:#{bookdata.publisher}
    div author:#{bookdata.author}
  h4(style='padding:0;margin-top:5px;margin-bottom:5px;') SALE INFO
  ul(style='margin-top:5px;padding-top:0;list-style:none')
    div country:#{bookdata.saleinfo.country} 
    div saleability:#{bookdata.saleinfo.saleability}     
    div isEbook:#{bookdata.saleinfo.isEbook}
    div Listprice: #{bookdata.saleinfo.listPrice.amount} #{bookdata.saleinfo.listPrice.currency_code}
    div Retailprice: #{bookdata.saleinfo.retailPrice.amount} #{bookdata.saleinfo.retailPrice.currency_code}
       
